<!DOCTYPE html>
	{% load static %}
{% include 'base1.html' %}
<html>
	<head>
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/util.css' %}" rel="stylesheet">
		<title>Course Details</title>
			<style>
                .head{
                    padding-top: 20px;
                    background-color: #03173c;
                    color: white;
                    height: 130px;
                }
				 h2, h1{
					text-align: center;
                     color: white;
				}


			</style>

	</head>
    <body style="background: #c4d3f6">

	<div >
        <div>
            <div class="head">
                <h1 style="text-decoration:underline; color: white">{{course.enrollmentKey}}</h1>
                <h2 style=" color: white; margin-top: -10px">{{course.users__name}}</h2>
                <a style="color:#ffffff" href="/assignments/signout">Signout</a>
            </div>
            <!-- Start Fun Factor
    ============================================= -->
            <div class= "fun-factor-area default-padding bottom-less text-center bg-fixed shadow dark-hard" style="background-image: url({% static 'tmp/assets/img/banner/1.jpg' %});">
                <div class="container">
                    <div class="row" style="background-color: transparent">
                        <div class="col-md-3 col-sm-6 item" style="width: 20%;">
                            <div class="fun-fact">
                                <div class="icon">
                                    <i class="flaticon-contract"></i>
                                </div>
                                <div class="info">
                                    <span class="timer" data-to="{{numofclasses}}" data-speed="1000"></span>
                                    <span class="medium">Class Taken Till now</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 item" style="width: 20%;">
                            <div class="fun-fact">
                                <div class="icon">
                                    <i class="flaticon-professor"></i>
                                </div>
                                <div class="info">
                                    <span class="timer" data-to="{{mayattendance}}" data-speed="1000"></span>
                                    <span class="medium">My Attendance</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 item" style="width: 20%;">
                            <div class="fun-fact">
                                <div class="icon">
                                    <i class="flaticon-online"></i>
                                </div>
                                <div class="info">
                                    <span class="timer" data-to="{{assignedwork}}" data-speed="1000"></span>
                                    <span class="medium">Assigned Works</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 item" style="width: 20%;">
                            <div class="fun-fact">
                                <div class="icon">
                                    <i class="flaticon-reading"></i>
                                </div>
                                <div class="info">
                                    <span class="timer" data-to="{{mysubmissions}}" data-speed="1000"></span>
                                    <span class="medium">My Submissions</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 item" style="width: 20%; height: 20%;">
                            <div class="fun-fact">
                                <div class="icon">
                                    <i class="flaticon-reading"></i>
                                </div>
                                <div class="info">
                                    <span style="color: red" class="timer" data-to="{{assignmentdue}}" data-speed="1000"></span>
                                    <span class="medium">Assignment Due</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Fun Factor -->
        </div>
        <div >
            <div class="limiter" style="float: left; width: 70% ; ">
                <div class="container-table100">
                    <div class="wrap-table100">
                            <div class="table">

                                <div class="row header" style="display: block">
                                    <div class="cell">
                                        Date
                                    </div>
                                    <div class="cell">
                                        Title
                                    </div>
                                    <div class="cell">
                                        Grade
                                    </div>
                                    <div class="cell">
                                        ----
                                    </div>
                                </div>
                                <div style="overflow-y: auto;height:500px; width: 1000px">
                                    {% for assignments in assignment %}
                                    <div class="row">
                                        <div class="cell" data-title="Full Name">
                                            {{ assignments.deadline }}
                                        </div>
                                        <div class="cell" data-title="Age">
                                            {{ assignments.title }}
                                        </div>
                                        <div class="cell" data-title="Job Title">
                                            {{ assignments.submissions__givenmarks }}
                                        </div>
                                        <div class="cell" data-title="Location">
                                            <p><a class="btn-primary" href="/studentpanel/submitassignment/{{ assignments.id}}" >View Details</a></p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                            </div>
                    </div>
                </div>
            </div>
        <div class="limiter" style="float:right; width:28%;   margin-right:30px;">
                <div class="container-table100" style=" width: 400px">
                    <div class="wrap-table100" style=" margin-left: -40px;">
                            <div class="table" style="width: 200px">

                                <div class="row header" style="display: block;">
                                    <div class="cell" >
                                        Announcements
                                    </div>

                                </div >
                                <div style="overflow-y: auto;height:500px; width: 100%">
                                {% for announcement in announcements %}
                                <div class="row" >
                                    <div class="cell" data-title="Full Name">
                                        <span style="color:#000000">{{announcement.announcement}}</span><br>
                                        <span style="font-size: 11px">{{announcement.date}}</span><br>
                                    </div>
                                    </div>
                                {% endfor %}
                                </div>


                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<!-- Start Footer
    ============================================= -->
    <footer class="bg-dark default-padding-top text-light" style="padding-top: 0px">

        <div class="footer-bottom">
            <div class="container">
                <div class="row" style="background-color: transparent;display: block">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p> All Rights Reserved by <a href=">Daffodil International University">Hafeezur Rahman Saleh</a></p>
                        </div>
                        <div class="col-md-6 text-right link">
                            <ul>
                                <li>
                                    <a href="#">Terms of user</a>
                                </li>
                                <li>
                                    <a href="#">License</a>
                                </li>
                                <li>
                                    <a style="color:#ffffff" href="/assignments/signout">Signout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->
	</body>
</html>