{% include 'web/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submissions</title>
{#    <link href="{% static 'css/tablestyle.css' %}" rel="stylesheet" />#}
{#    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />#}
  <style>
        .submitted:hover{
            background-color: #435d7d;
            font-size:20px;
            width:50px;
            height:25px;
            color: #000000;
            font-weight:bold;
        }
  </style>
</head>
<body style="background-color:#f2fbff;">

    <section  style="width: 80%;margin-left:auto; margin-right: auto">
  <!--for demo wrap-->
  <h1>All Submissions</h1>
      <h2>Assignment Title: <span>{{asstitle}}</span></h2>
  <div class="">
    <table  class="table table-hover" style="width: 80%;">
      <thead>
        <tr>
          <th>Student ID</th>
          <th>Submission Date</th>
          <th>Given Marks</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
      {% for submission in submissions %}
        <tr class="table-success" style="height: 5px">
          <td>{{submission.studentid}}</td>
          <td>{{submission.submissiondate}}</td>
          <td>{{submission.givenmarks}}</td>
          <td><a class="btn btn-primary" href="/assignments/evaluate/{{submission.id}}">Evaluate</a> </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<script>
    // '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>
</body>
</html>