{% extends 'web/base.html' %}
{% load static %}
    {% block body %}


<!-- ===================== Welcome Area Start ===================== -->
    <section class="welcome_area clearfix" id="home">
        <div class="welcome_slides">
            <!-- Single Slide -->
            <div class="single_slide text-center" style="background-image: url({% static 'assets/img/bg-pattern/diu.jpg' %});">
                <div class="slide_text">
                    <div class="table">
                        <div class="table_cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 data-animation="fadeInUp" data-delay="200ms" data-duration="500ms">MANAGE YOUR LAB CLASSES WITH SMART LAB ASSISTANCE</h2>
                                        <p data-animation="fadeInUp" data-delay="500ms" data-duration="500ms"></p>
                                        <a href="#section1" class="btn welcome-btn" data-animation="fadeInUp" data-delay="800ms" data-duration="500ms" >Start Now <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <!--Single Slide -->
            <div class="single_slide text-center" style="background-image: url({% static 'assets/img/bg-pattern/edu-2.jpg' %});">
                <div class="slide_text">
                    <div class="table">
                        <div class="table_cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 data-animation="fadeInUp" data-delay="200ms" data-duration="500ms">MANAGE YOUR LAB CLASSES WITH SMART LAB ASSISTANCE</h2>
                                        <p data-animation="fadeInUp" data-delay="500ms" data-duration="500ms"></p>
                                        <a href="#section1" class="btn welcome-btn" data-animation="fadeInUp" data-delay="800ms" data-duration="500ms">Start Now <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Slide -->
            <div class="single_slide text-center" style="background-image: url({% static 'assets/img/bg-pattern/edu-1.jpg' %});">
                <div class="slide_text">
                    <div class="table">
                        <div class="table_cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 data-animation="fadeInUp" data-delay="200ms" data-duration="500ms">MANAGE YOUR LAB CLASSES WITH SMART LAB ASSISTANCE</h2>
                                        <p data-animation="fadeInUp" data-delay="500ms" data-duration="500ms"></p>
                                        <a href="#section1" class="btn welcome-btn" data-animation="fadeInUp" data-delay="800ms" data-duration="500ms">Start Now<i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Slide -->
            <div class="single_slide text-center" style="background-image: url({% static 'assets/img/bg-pattern/edu-2.jpg' %});">
                <div class="slide_text">
                    <div class="table">
                        <div class="table_cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 data-animation="fadeInUp" data-delay="200ms" data-duration="500ms">The number one source for education</h2>
                                        <p data-animation="fadeInUp" data-delay="500ms" data-duration="500ms">Education is the most powerful weapon which you can use to change the world.</p>
                                        <a href="#" class="btn welcome-btn" data-animation="fadeInUp" data-delay="800ms" data-duration="500ms">Learn More <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===================== Welcome Area End ===================== -->




<style>
    .body{
        width: 900px;
        margin-left:auto;
        margin-right:auto;
        background-color:#c4daff

    }
    h5{
        color: white;
    }
    img{
        width:70px;
        margin-bottom:8px;
        border-radius: 50%;
        border: 2px solid #ff675b;
    }
    .mainopt{
        width:180px;
        height:30px;
        border-radius: 50%;
        border: 2px solid #ff675b;
        font-size:20px;
        background-color:#fccccc;
        margin-bottom: 5px;
    }
    .request{
        height:300px;
        width:300px;
        border: 2px solid #ff675b;
        background-color:#ff776a
    }

    .image {
        position:relative;
        display:inline-block;
    }
    .overlay {
        display:none;
    }
    .image:hover .overlay {
        width:330px;
        height:200px;
        background:#cccf43;
        position:absolute;
        vertical-align:middle;
        top:0;
        left:-220px;
        display:inline-block;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
    h1{
        text-align:center
    }
    #Instructor_info span{
        font-size:18px;
    }
    #announcement{
        display:none;
        width: 300px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;

    }
    #announcement textarea{
        height:100px;
        width:300px;
        background-color:#2475B0;
        color:white;
        padding-left:7px;
        padding-top:7px;
    }
.btn-liveclass {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #d30000; -webkit-box-shadow: 0 0 40px #db0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #da0000; -moz-box-shadow: 0 0 40px #e60000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #dc0000; box-shadow: 0 0 40px #e20000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #e00000; box-shadow: 0 0 40px #d60000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}
</style>
<script>
    function displayAnnouncement(){
        document.getElementById("announcement").style.display = "block";
    }
    function hideAnnouncement(){
        document.getElementById("announcement").style.display = "none";
    }

</script>
<div class="bg-image"></div>
    <!-- ===================== All Collection Area Start ===================== -->
    <section class="all_collection_area section_padding_100_70" id="section1">
        <div class="container">
            <button id="b" class="btn-danger btn" style="width: 100%; height: 70px" onclick="myFunction()">START LIVE CLASS</button><br><br><br>
            <script>
                function myFunction() {
                    var element = document.getElementById("b");
                    element.classList.toggle("btn-liveclass");
                }
            </script>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single_course_collection" style="background-image: url(img/bg-pattern/all-c-1.jpg);">
                        <a href="/assignments">
                            <h4>Assignments</h4>
                            <p>Assign or evaluate lab works</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3" style="">
                    <div class="single_course_collection" style="background-color: #5f27cd;background-image: url({% static 'img/bg-pattern/all-c-2.jpg' %});">
                        <a href="/post">
                            <h4>All Posts</h4>
                            <p>Add or view posts</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single_course_collection" style="background-image: url(img/bg-pattern/all-c-3.jpg);">
                        <a href="/web/getattendance">
                            <h4>Attendance</h4>
                            <p>Get today's attendance now!</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single_course_collection" style="background-image: url(img/bg-pattern/all-c-4.jpg);">
                        <a href="javascript:displayAnnouncement()" data-toggle="modal" data-target="#myModal">
                            <h4>Announcements</h4>
                            <p>Make an announcement for all</p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ===================== All Collection Area End ===================== -->
    <div class="bg-content">
            <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" style="float: left">&times;</button>
              <h4 class="modal-title">Announcements</h4>
            </div>
            <div class="modal-body">
              <div >
    {#            Announcement section##}
                <div>
                    <form method="get" action="/web/insertAnnouncement/">
                        <textarea style="height:100px; width: 100%"  name="announcement" id="ann" placeholder="Write here...." ></textarea><br>
                        <input style=" width: 100%;" class="btn btn-success btn-lg btn-block" type="submit" onclick="hideAnnouncement()" value="Submit"/>
                    </form><br>
                </div>
                <div>
                <div style=" width:100%; height:300px;overflow: auto; ">
                    <table style="background-color:#ffffff; width:100%; margin-top:-340px">
                        <tr style= "background-color: #2475B0; "><td></td><td></td></tr>
                        {% for announcement in announcements %}
                        <tr style="border-bottom: 1px solid #1C6EA4; margin-left:5px">
                            <td>
                                <span style="color:#000000">{{announcement.announcement}}</span><br>
                                <span style="color:#000000; font-style: italic; font-size: 11px">{{announcement.date}}</span><br>
                            </td>
                            <td style="height:10px; width:20px">
    <!--                                        <button class="btn btn-danger btn-lg btn-block"  onclick="editAnnouncement('{{announcement.announcement}}');">Edit</button>-->
                                <a style="font-size: 12px;" class="btn btn-primary btn-lg btn-block" href="/web/deleteannouncement/{{announcement.id}}">Delete</a>
                            </td>
                            <br>
                        </tr><br>
                        {% endfor %}
                    </table>
                    <script>
                        function editAnnouncement(announcementbody){
                            document.getElementById("ann").value = announcementbody;
                            displayAnnouncement();
                        }
                    </script>
                </div>

                </div>

            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

        <!-- ===================== Cool Facts Area Start ===================== -->
    <div class="cool_facts_area bg-gray" style="padding:40px 0 30px;background: #009688" id="coursesummary">
        <div class="container" style="padding:0px 0 0px">
                <div class="row" >
                    <div class="col-12 col-sm-4 col-md" style="width: 30%; margin-right: 10px;margin-top: 70px; margin-left: -40px;">
                        <h5>{{ course.enrollmentKey }}</h5>
                        <h5>{{ course.courseTitle }}</h5>
                        <h5>{{ instructor.name }}</h5>

                    </div>
                    <div class="col-12 col-sm-4 col-md" style="width: 20%;margin-top: 70px">
                        <!-- Single Cool Facts area Start -->
                        <div class="cool_fact_text">
                            <i class="icon-profile-male" aria-hidden="true"></i>
                            <h3><span class="counter">5</span></h3>
                            <h4>Total Students</h4>
                        </div>
                        <!-- Single Cool Facts area End -->
                    </div>

                    <div class="col-12 col-sm-4 col-md" style="width: 17%;margin-top: 70px">
                        <!-- Single Cool Facts area Start -->
                        <div class="cool_fact_text">
                            <i class="icon-desktop" aria-hidden="true"></i>
                            <h3><span class="counter">12</span></h3>
                            <h4>Class Taken</h4>
                        </div>
                        <!-- Single Cool Facts area End -->
                    </div>

                    <div class="col-12 col-sm-4 col-md" style="width: 17%;margin-top: 70px">
                        <!-- Single Cool Facts area Start -->
                        <div class="cool_fact_text">
                            <i class="icon-gift" aria-hidden="true"></i>
                            <h3><span class="counter">12</span></h3>
                            <h4>Work Assigned</h4>
                        </div>
                        <!-- Single Cool Facts area End -->
                    </div>
                    <div style=" width: 30%; height: 270px; overflow: auto; margin-left: 40px;margin-right: -40px" >
                    <div>
                        <h3 style="text-align: center">Enrolled Students</h3>
                        <div >
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                            <div >
                                <img src="{% static 'web/images/cartoon.png' %}"  alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <div class="image">
                                    <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                    <div class="overlay" >Hafeezur Rahman Saleh
                                        <button data-toggle="modal" data-target="#chatModal" class="btn-primary" style="width: 40%">Chat</button>
                                        <img data-enlargable width="100" style="cursor: zoom-in;width:100%; border-radius:0%" src="{% static 'web/images/coding.png'%}">
                                        <script>
                                            $('img[data-enlargable]').addClass('img-enlargable').click(function(){
                                                var src = $(this).attr('src');
                                                $('<div>').css({
                                                    background: 'RGBA(0,0,0,.5) url('+src+') no-repeat center',
                                                    backgroundSize: 'contain',
                                                    width:'100%', height:'100%',
                                                    position:'fixed',
                                                    zIndex:'10000',
                                                    top:'0', left:'0',
                                                    cursor: 'zoom-out'
                                                }).click(function(){
                                                    $(this).remove();
                                                }).appendTo('body');
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>


                            <div>
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                            </div>
                            <div>
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                            </div>
                            <div>
                                <img src="{% static 'web/images/cartoon.png' %}"  alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                            </div>
                            <div>
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                            </div>
                            <div>
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                                <img src="{% static 'web/images/cartoon.png' %}" alt="img1">
                            </div>
                        </div>
                        <button id="viewmore">View more...</button>
                    </div>
                </div>
                </div>
        </div>

    </div>
    <!-- ===================== Cool Facts Area End ===================== -->
    <div class="modal fade" id="chatModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content"style="height: 560px">
            <div class="modal-header">
                <h4 style="position: center">Chat</h4>
              <button type="button" class="close" data-dismiss="modal" style="float: left">&times;</button>
            </div>
            <div class="modal-body">
                <iframe src="/web/chat1" style="width: 100%;height: 100%;display: block;"></iframe>
            </div>
          </div>
        </div>
    </div>


    </div>
{% endblock %}